.labeltitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  color: #403f3f;
}


.upper-section {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  margin-right: 24px;

}