<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-headerSignIn></app-headerSignIn>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container-fluid main-sec "
                style="background: linear-gradient(135deg,hsla(0deg,0%,0%,.14),hsla(0deg,0%,0%,.14))            ">
                <div class="center-div">
                    <app-login></app-login>
                </div>
            </div>
        </div>
    </div>
</div>