/* Add your styles as needed */
.app-container {
  height: 100vh;

}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}

.app-sidebar {
  width: 250px;
  /* Set your desired sidebar width */
}

.app-content {
  padding: 16px;
  /* Adjust as needed */
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}



:host {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins";
}

.side-bar {
  bottom: 0;
  display: flex;
  flex-flow: column;
  float: left;
  left: 0;
  position: fixed;
  top: 0;
  background-color: #2f2d2d;
  width: 295px;
  box-shadow: 0px -1.02299px 19.4368px rgba(42, 68, 118, 0.23);
  // border-radius: 15.3448px;



  .border-white {
    border: 1px solid white;
  }

  .side-nav-content {
    color: #bfbfbf;
    width: 295px;
    margin: 0;
    height: 100vh;
    overflow: hidden auto;

    @media only screen and (max-width: 600px) {
      width: 200px;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      width: 200px;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      width: 260px;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      width: 295px;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
      width: 295px;
    }
  }

}





.active {
  background-color: #27262b !important;
  color: #ffffff;
  border-radius: 16px;

  span a {
    color: #ffffff;
  }
}

.active2 {
  color: #27262b;

  span a {
    color: #ffffff;
  }
}

a {
  text-decoration: none;
  color: #242220;
}

@media only screen and (max-width: 600px) {

  // .images {
  //     display: none; // hide the images when in mobile view
  // }
}


.logo {
  padding: 4px 24px;

  img {
    top: 30px;
    position: relative;

    @media only screen and (max-width: 600px) {
      max-width: 170px;
      justify-content: center;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      max-width: 170px;
      justify-content: center;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      max-width: 90%;
      justify-content: center;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      max-width: 90%;
      justify-content: center;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
      max-width: 100%;
      justify-content: center;
    }
  }
}

.logo::after {
  position: absolute;
  width: 256.77px;
  height: 0.5px;
  left: 0px;
  top: 130.39px;
  content: "";
  background: radial-gradient(50% 50% at 50% 50%,
      #432c2c 0%,
      rgba(80, 28, 28, 0) 100%);
  opacity: 0.24;
}

//NEW SCSS FOR SIDEBAR//

ul {
  list-style: none !important;
  line-height: 2em !important;
}

.tree summary {
  display: block !important;
  cursor: pointer;
}

ul li {
  position: relative;
  cursor: pointer;
  margin: 0 auto;
}

ul li::before {
  position: absolute;
  content: "";
  height: 1em !important;
  width: 10px;
  left: -16px;
  top: 0;
  border-left: 2px solid #ada9a4;
  border-bottom: 2px solid #ada9a4;
  border-bottom-left-radius: 8px;
}

ul li::after {
  position: absolute;
  content: "";
  height: 100% !important;
  width: 10px;
  left: -16px;
  bottom: 0;
  border-left: 2px solid #ada9a4;
}

ul li:last-child::after {
  display: none;
}

ul.tree>li:after {
  display: none !important;
}

ul.tree>li:before {
  display: none !important;
}

.nav-list {
  list-style: none;
  padding: 0%;
  margin-bottom: 0%;
}

.nav-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

span {
  width: 200px;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

}

details[open]>summary:first-of-type {
  background-color: #1c1b1e !important;
  color: #ffffff;
  border-radius: 5px;
}

.sum-title {
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;

  &:hover {
    background-color: #1c1b1e !important;
    color: #ffffff;
    border-radius: 5px;
  }

  &:active {
    color: #ffffff;
  }
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
}

.label-icon {
  display: flex;
  align-items: center;
}



.btn-icon {
  background: #e7edf0;
  border: 1px solid #e7edf0;
  border-radius: 11.063px;
  margin-right: 10px;
  padding: 10px;
}


.header {
  .nav {
    display: flex;
    position: relative;
    background-color: transparent;
    flex-wrap: nowrap;
    justify-content: flex-end;

    .header-block {
      background-color: #2f2d2d;
      border-bottom-left-radius: 5px;
      width: 100% !important;
      box-shadow: 0px -1.02299px 19.4368px rgba(42, 68, 118, 0.23);
    }

    .userprofile {
      padding: 12px 0px;
      margin: 0;
      display: flex;
      z-index: 4;
      justify-content: flex-end;

      .btn-icon {
        background: #e7edf0;
        border: 1px solid #e7edf0;
        border-radius: 11.063px;
        margin-right: 10px;
        padding: 10px;
      }

      .user-menu {
        background: #f7f7f9;
        border: 1.1063px solid #c5c5c5;
        border-radius: 15.4881px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;

        .logo-img {
          max-width: 221px;
          margin: 0 12px 0 12px;

          @media only screen and (max-width: 600px) {
            max-width: 160px;
            margin: 0 8px 0 8px;
          }

          /* Small devices (portrait tablets and large phones, 600px and up) */
          @media only screen and (min-width: 600px) {
            max-width: 180px;
            margin: 0 8px 0 8px;
          }

          /* Medium devices (landscape tablets, 768px and up) */
          @media only screen and (min-width: 768px) {
            max-width: 200px;
            margin: 0 10px 0 10px;
          }

          /* Large devices (laptops/desktops, 992px and up) */
          @media only screen and (min-width: 992px) {
            max-width: 221px;
            margin: 0 12px 0 12px;
          }

          /* Extra large devices (large laptops and desktops, 1200px and up) */
          @media only screen and (min-width: 1200px) {
            max-width: 221px;
            margin: 0 12px 0 12px;
          }
        }

        .name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .title {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            margin-bottom: 0;
            color: #403f3f;

            @media only screen and (max-width: 600px) {
              font-size: 12px;
            }

            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
              font-size: 14px;
            }

            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) {
              font-size: 14px;
            }

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
              font-size: 15px;
            }

            /* Extra large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1200px) {
              font-size: 15px;
            }
          }

          .position {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            color: #8d8d8d;
            margin-bottom: 0rem;

            @media only screen and (max-width: 600px) {
              font-size: 8px;
            }

            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
              font-size: 8px;
            }

            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (min-width: 768px) {
              font-size: 10px;
            }

            /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: 992px) {
              font-size: 10px;
            }

            /* Extra large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1200px) {
              font-size: 10px;
            }
          }
        }

        .notification {
          display: flex;
          justify-content: center;
          margin-left: 32px;

          @media only screen and (max-width: 600px) {
            margin-left: 16px;
          }

          /* Small devices (portrait tablets and large phones, 600px and up) */
          @media only screen and (min-width: 600px) {
            margin-left: 16px;
          }

          /* Medium devices (landscape tablets, 768px and up) */
          @media only screen and (min-width: 768px) {
            margin-left: 20px;
          }

          /* Large devices (laptops/desktops, 992px and up) */
          @media only screen and (min-width: 992px) {
            margin-left: 24px;
          }

          /* Extra large devices (large laptops and desktops, 1200px and up) */
          @media only screen and (min-width: 1200px) {
            margin-left: 28px;
          }

          img {
            cursor: pointer;
          }
        }
      }
    }
  }
}


// .list-data {
//   display: flex;
//   justify-content: space-between;
// }
ul {
  list-style: none !important;
}

ul li {
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  padding: 4px;
  border-radius: 12px;
  background-color: white !important;
  border: 1px solid #4a4b4e;
}

.title-notification {
  border-bottom: 1px solid rgba(247, 243, 243, 0.397);
  padding-bottom: 10px;

  .notification {
    color: var(--gray-gray-900, #1a1f36);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 94px;
    align-self: stretch;
  }
}

.nav-list {
  list-style: none;
  padding: 0%;
  margin-bottom: 0%;
  margin: 8px 12px;

  .list-data {
    display: flex;
    justify-content: space-between;
  }

  .list-item {
    color: #1a1f36;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex !important;
    align-items: center !important;
    margin: 0 !important;
    word-break: break-all;
    max-width: 240px;
    margin-right: 12px !important;
  }

  .list-detail {
    color: var(--knock-gray-200, #a5acb8);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex !important;
    align-items: center !important;
    margin: 0 !important;
    word-break: break-all;
    max-width: 240px;
    margin-right: 12px !important;
  }
}

.unread {
  background-color: #4f63f042 !important;
}

.read {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(238, 238, 238, 1) 42%,
      rgba(255, 255, 255, 1) 100%);
}

// .menu {
//   display: none;
// }

.notification_card {
  // background-color: red;
  max-height: 30vh !important;
  overflow: hidden auto !important;
}

// @media only screen and (max-width: 1280px) {
//   .menu {
//     float: left !important;
//   }

//   .header-block {
//     justify-content: center !important;
//   }
// }

// .menu {
//   display: none;
//   /* By default, show the menu */
// }

.sec-menu {
  display: flex !important;
}


/* Add a class 'show-button' to the button element you want to show */
.show-button {
  display: none;
  /* By default, hide the button */
}




.fixed-drawer {
  position: fixed;
}


@media only screen and (max-width: 600px) {

  .display-none {
    display: none !important;
  }


  .userprofile {
    justify-content: space-between !important;
  }

  .side-bar {
    width: 200px;
  }

  .nav-and-body {
    margin-left: 4px;
    max-width: calc(100% - 0px) !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .userprofile {
    justify-content: space-between !important;
  }

  .side-bar {
    width: 200px;
  }

  .nav-and-body {
    margin-left: 4px;
    max-width: calc(100% - 0px) !important;

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .userprofile {
    justify-content: flex-end !important;
  }

  .side-bar {
    width: 260px;
  }

  .nav-and-body {
    margin-left: 260px;
    max-width: calc(100% - 260px) !important;

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .userprofile {
    justify-content: flex-end !important;
  }

  .side-bar {
    width: 295px;
  }

  .nav-and-body {
    margin-left: 295px;
    max-width: calc(100% - 295px) !important;

  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .userprofile {
    justify-content: flex-end !important;
  }

  .side-bar {
    width: 295px;
  }

  .nav-and-body {
    margin-left: 295px;
    max-width: calc(100% - 295px) !important;
  }

  .menu {
    display: block;
    /* Hide the menu when the screen width is 1200px or less */
  }

  .show-button {
    display: block;
    /* Show the button when the menu is hidden */
  }

}



.nav-and-body {
  height: 100%;
}


