// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalettePri: (
  50: #e8edfe,
  100: #c6d3fd,
  200: #a1b5fb,
  300: #7b97f9,
  400: #5e81f8,
  500: #426bf7,
  600: #3c63f6,
  700: #3358f5,
  800: #2b4ef3,
  900: #1d3cf1,
  A100: #ffffff,
  A200: #f3f5ff,
  A400: #c0c8ff,
  A700: #a7b1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpaletteSec: (
  50: #e5e9ef,
  100: #bfc7d6,
  200: #95a2bb,
  300: #6a7c9f,
  400: #4a608b,
  500: #2a4476,
  600: #253e6e,
  700: #1f3563,
  800: #192d59,
  900: #0f1f46,
  A100: #809fff,
  A200: #4d79ff,
  A400: #1a53ff,
  A700: #0040ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpaletteAcc: (
  50: #f5f7f8,
  100: #e7ebef,
  200: #d7dde4,
  300: #c7cfd9,
  400: #bbc5d0,
  500: #afbbc8,
  600: #a8b5c2,
  700: #9facbb,
  800: #96a4b4,
  900: #8696a7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d1e7ff,
  A700: #b8d9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Asced-primary: mat.define-palette($md-mcgpalettePri);
$Asced-accent: mat.define-palette($md-mcgpaletteSec);

// The warn palette is optional (defaults to red).
$Asced-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Asced-theme: mat.define-light-theme(
  (
    color: (
      primary: $Asced-primary,
      accent: $Asced-accent,
      warn: $Asced-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Asced-theme);

/* You can add global styles to this file, and also import other style files */
